{% extends "base.html" %} {% block content %}
<div class="p-8">
  <h1 class="text-2xl font-bold mb-4">Document List</h1>

  <!-- Tombol Upload -->
  <div class="mt-4">
    <button
      class="bg-green-700 text-white px-6 py-3 rounded-xl font-bold transform transition duration-500 hover:scale-105 hover:shadow-lg hover:bg-green-700 focus:outline-none mr-3"
      onclick="openModal()"
    >
      Upload Files
    </button>
    <!-- Tombol Upload Folder -->
    <button
      class="bg-green-700 text-white px-6 py-3 rounded-xl font-bold transform transition duration-500 hover:scale-105 hover:shadow-lg hover:bg-green-700 focus:outline-none mr-3"
      onclick="openModalForFolder()"
    >
      Upload Folder
    </button>

    <!-- Tombol Delete All -->
    <form
      action="{{ url_for('chatbot.delete_all_documents') }}"
      method="POST"
      style="display: inline-block"
    >
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
      <button
        type="submit"
        class="bg-red-600 text-white px-6 py-3 rounded-xl font-bold transform transition duration-500 hover:scale-105 hover:shadow-lg hover:bg-red-700 focus:outline-none"
        onclick="return confirm('Are you sure you want to delete all documents?');"
      >
        Delete All
      </button>
    </form>
  </div>
  <!-- Form Search -->
  <div class="mt-4 mb-4">
    <form
      action="{{ url_for('chatbot.documents') }}"
      method="GET"
      class="flex items-center space-x-2"
    >
      <input
        type="text"
        name="search"
        placeholder="Search documents..."
        class="px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring focus:border-blue-300"
        value="{{ request.args.get('search', '') }}"
        style="width: 600px"
      />
      <button
        type="submit"
        class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 font-semibold"
      >
        Search
      </button>
    </form>
  </div>
  <!-- Tabel Dokumen -->
  <table class="min-w-full bg-white border border-gray-200 mt-4">
    <thead class="bg-gray-200 text-gray-600">
      <tr>
        <th class="py-2 px-4 border">ID</th>
        <th class="py-2 px-4 border">Title</th>
        <th class="py-2 px-4 border">Created At</th>
        <th class="py-2 px-4 border">Updated At</th>
        <th class="py-2 px-4 border">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for document in documents.items %}
      <!-- Use documents.items for paginated results -->
      <tr class="text-gray-700 text-center">
        <td class="py-2 px-4 border">{{ document.id }}</td>
        <td class="py-2 px-4 border">{{ document.title_file }}</td>
        <td class="py-2 px-4 border">
          {{ document.created_at.strftime('%d %B %Y %H:%M:%S') }}
        </td>
        <td class="py-2 px-4 border">
          {{ document.updated_at.strftime('%d %B %Y %H:%M:%S') }}
        </td>
        <td class="py-2 px-4 border">
          <!-- Tombol View untuk melihat file -->
          <a
            href="{{ url_for('chatbot.view_document', file_id=document.id) }}"
            class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700 mr-2"
          >
            <i class="fas fa-eye"></i>
          </a>

          <!-- Tombol Download -->
          <a
            href="{{ url_for('chatbot.download_file', file_id=document.id) }}"
            class="bg-yellow-600 text-white px-4 py-2 rounded-lg hover:bg-yellow-700 mr-2"
            onclick="return confirm('Are you sure you want to download this file?');"
          >
            <i class="fas fa-download"></i>
          </a>

          <!-- Tombol Hapus -->
          <form
            action="{{ url_for('chatbot.delete_document', file_id=document.id) }}"
            method="POST"
            style="display: inline"
          >
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <button
              type="submit"
              class="bg-red-600 text-white px-4 py-2 rounded-lg hover:bg-red-700 mr-2"
              onclick="return confirm('Are you sure you want to delete this document?');"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Links -->
  <div class="mt-4 flex justify-center">
    <nav class="flex space-x-2">
      {% if documents.has_prev %}
      <a
        href="{{ url_for('chatbot.documents', page=documents.prev_num) }}"
        class="px-3 py-1 bg-gray-200 text-gray-800 rounded hover:bg-gray-300"
        >Previous</a
      >
      {% else %}
      <span
        class="px-3 py-1 bg-gray-300 text-gray-500 rounded cursor-not-allowed"
        >Previous</span
      >
      {% endif %} {% for page_num in documents.iter_pages(left_edge=1,
      right_edge=1, left_current=2, right_current=2) %} {% if page_num %} {% if
      page_num == documents.page %}
      <span class="px-3 py-1 bg-blue-600 text-white rounded"
        >{{ page_num }}</span
      >
      {% else %}
      <a
        href="{{ url_for('chatbot.documents', page=page_num) }}"
        class="px-3 py-1 bg-gray-200 text-gray-800 rounded hover:bg-gray-300"
        >{{ page_num }}</a
      >
      {% endif %} {% else %}
      <span class="px-3 py-1 text-gray-500">…</span>
      {% endif %} {% endfor %} {% if documents.has_next %}
      <a
        href="{{ url_for('chatbot.documents', page=documents.next_num) }}"
        class="px-3 py-1 bg-gray-200 text-gray-800 rounded hover:bg-gray-300"
        >Next</a
      >
      {% else %}
      <span
        class="px-3 py-1 bg-gray-300 text-gray-500 rounded cursor-not-allowed"
        >Next</span
      >
      {% endif %}
    </nav>
  </div>

  <!-- Modal Popup untuk Upload -->
  <div
    id="uploadModal"
    class="fixed inset-0 hidden bg-gray-800 bg-opacity-50 justify-center items-center z-50"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
      <h2 class="text-lg font-bold mb-4">Upload New Document</h2>

      <form
        action="{{ url_for('chatbot.documents') }}"
        method="POST"
        enctype="multipart/form-data"
        class="space-y-4"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <!-- File Input untuk mengunggah beberapa file -->
        <div>
          <label for="files" class="block text-sm font-medium text-gray-700">
            Files
          </label>
          <input
            type="file"
            name="files[]"
            id="files"
            class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none"
            multiple
            required
          />
        </div>

        <!-- Submit Button -->
        <div class="flex justify-end">
          <button
            type="submit"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
          >
            Upload
          </button>
          <button
            type="button"
            class="ml-4 bg-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-700"
            onclick="closeModal()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal Popup untuk Upload Folder -->
  <div
    id="uploadFolderModal"
    class="fixed inset-0 hidden bg-gray-800 bg-opacity-50 justify-center items-center z-50"
  >
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-md w-full">
      <h2 class="text-lg font-bold mb-4">Upload New Folder</h2>

      <form
        action="{{ url_for('chatbot.documents') }}"
        method="POST"
        enctype="multipart/form-data"
        class="space-y-4"
      >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

        <!-- Input untuk mengunggah folder -->
        <div>
          <label for="folder" class="block text-sm font-medium text-gray-700">
            Folder
          </label>
          <input
            type="file"
            name="files[]"
            id="folder"
            class="w-full px-3 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none"
            multiple
            webkitdirectory
            required
          />
        </div>

        <!-- Submit Button -->
        <div class="flex justify-end">
          <button
            type="submit"
            class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700"
          >
            Upload
          </button>
          <button
            type="button"
            class="ml-4 bg-gray-600 text-white px-4 py-2 rounded-lg hover:bg-gray-700"
            onclick="closeFolderModal()"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
  <!-- Modal Popup Script -->
  <script>
    function openModal() {
      document.getElementById("uploadModal").classList.remove("hidden");
      document.getElementById("uploadModal").classList.add("flex");
    }

    function closeModal() {
      document.getElementById("uploadModal").classList.add("hidden");
      document.getElementById("uploadModal").classList.remove("flex");
    }

    function openModalForFolder() {
      document.getElementById("uploadFolderModal").classList.remove("hidden");
      document.getElementById("uploadFolderModal").classList.add("flex");
    }

    function closeFolderModal() {
      document.getElementById("uploadFolderModal").classList.add("hidden");
      document.getElementById("uploadFolderModal").classList.remove("flex");
    }
  </script>

  {% endblock %}
</div>
